fastapi
uvicorn
sqlalchemy
python-dotenv
python-multipart
groq
pymupdf
pytesseract
pillow
spacy
scikit-learn
langchain==0.1.13
langchain-community==0.0.29
chromadb==0.4.24
sentence-transformers==2.6.1
PyJWT==2.8.0